<template>
    <div>
        <table id="invoices" class="table is-striped is-fullwidth">
            <thead>
                <tr>
                    <th class="has-text-centered">Id</th>
                    <th class="has-text-centered">Date</th>
                    <th class="has-text-centered">Total</th>
                    <th class="has-text-centered">Status</th>
                    <th class="has-text-centered">Link</th>
                    <th class="has-text-centered">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(invoice, invoice_index) in invoices" :key="invoice_index">
                    <td class="has-test-left">{{invoice._id}}</td>
                    <td class="has-text-centered">{{new Date(invoice.invoice.invoiceDate).toLocaleDateString("lt-LT",{year:"numeric",month:"2-digit", day:"2-digit"})}}</td>
                    <td class="has-text-centered">{{invoice.total}}</td>
                    <td class="has-text-centered has-text-info">{{invoice.invoice.status}}</td>
                    <td class="has-text-centered">
                        <a class="button is-small is-outlined is-link" id="order" @click="getOrder(invoice._links.self.href)">Order</a>
                    </td>
                    <td class="has-text-centered">
                        <a v-for="link in invoice._links" :key="link.name"  v-if="link.name != null && link.name !== 'self' && link.name !== 'remittance'"
                           :class="{ 'is-danger': link.name === 'reject invoice',
                              'is-success': link.name === 'accept invoice'}"
                           class="button is-small is-outlined is-link"
                           :id="link.name"
                           @click="followLink(link, invoice_index)">
                            {{link.name}}
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import axios from 'axios'
    import Vue from 'vue'
    import OrderModal from './OrderModal.vue'

    export default {
        name: "Invoice",
        data: function() {
            return {
                invoices: [],
                subtitle: "Invoices"
            }
        },
        mounted: function() {
            axios.get("/api/sales/orders/invoice")
                .then(response => {
                    this.invoices = response.data._embedded.purchaseOrderDToes;
                });
        },
        methods: {
            getOrder: function (link) {
                axios.get(link)
                    .then(response => {
                        this.$modal.open({
                            parent: this,
                            component: OrderModal,
                            props: { order: response.data }
                        });
                    }).catch(e => {
                        this.$snackbar.open({
                        type: 'is-danger',
                        message: String(e.response.status).concat(' ', e.response.data.message)
                        })
                    }
                    );
            },
            followLink: function(link, invoice_index) {
                    axios({
                        method: link.type,
                        url: link.href
                    }).then(response => {
                        Vue.set(this.invoices, invoice_index, response.data);
                    }).catch(e => {
                        this.$snackbar.open({
                            type: 'is-danger',
                            message: String(e.response.status).concat(' ', e.response.data.message)
                        })
                    });
            }
        }

    }
</script>

<style scoped>
    .button {
        margin-right: 5px !important;
        text-transform: capitalize;
    }
</style>