<template>
    <div class="modal-card" style="width: auto">
        <header class="modal-card-head">
            <p class="modal-card-title">Order info</p>
        </header>
        <section class="modal-card-body">
            <div class="container is-fluid">
                <h3 class="title">Plant</h3>
                <div class="level">
                    <div class="level-left">
                        <div class="level-item"><strong>Name:</strong></div>
                        <div class="level-item">{{order.plant.name}}</div>
                    </div>
                </div>
                <div class="level">
                    <div class="level-left">
                        <div class="level-item"><strong>Description:</strong></div>
                        <div class="level-item">{{order.plant.description}}</div>
                    </div>
                </div>
                <div class="level">
                    <div class="level-left">
                        <div class="level-item"><strong>Price:</strong></div>
                        <div class="level-item">{{order.plant.price}}</div>
                    </div>
                </div>
            </div>
            <div class="container is-fluid">
                <h3 class="title">Invoice</h3>
                <div class="level">
                    <div class="level-left">
                        <div class="level-item"><strong>Date:</strong></div>
                        <div class="level-item">{{order.invoice.invoiceDate}}</div>
                    </div>
                </div>
                <div class="level">
                    <div class="level-left">
                        <div class="level-item"><strong>Status:</strong></div>
                        <div class="level-item">{{order.invoice.status}}</div>
                    </div>
                </div>
            </div>
            <div class="container is-fluid">
                <h3 class="title">Period</h3>
                <div class="level">
                    <div class="level-left">
                        <div class="level-item"><strong>Start Date:</strong></div>
                        <div class="level-item">{{order.rentalPeriod.startDate}}</div>
                    </div>
                </div>
                <div class="level">
                    <div class="level-left">
                        <div class="level-item"><strong>End Date:</strong></div>
                        <div class="level-item">{{order.rentalPeriod.endDate}}</div>
                    </div>
                </div>
            </div>
            <div class="container is-fluid">
                <h3 class="title">Status</h3>
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">{{order.status}}</div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button id="close" class="button" type="button" @click="$parent.close()">Close</button>
        </footer>
    </div>
</template>

<script>
    export default {
        name: "OrderModal",
        props: ['order']
    }
</script>

<style scoped>
    .container {
        margin-bottom: 10px !important;
    }
</style>