<template>
    <div id="app">
        <section class="hero is-primary is-bold is-small"><div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <router-link to="/" class="navbar-item">Purchase orders</router-link>
                            <router-link to="/invoices" class="navbar-item">Invoices</router-link>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        RentIT
                    </h1>
                    <h2 class="subtitle">
                        {{subtitle}}
                    </h2>
                </div>
            </div>
        </section>
        <router-view @update="updateSubtitle"></router-view>
    </div>
</template>

<script>
    export default {
        name: "app",

        data: function() {
            return {
                subtitle: ""
            }
        },
        methods: {
            updateSubtitle: function (subtitle) {
                this.subtitle = subtitle
            }
        }
    }
</script>