<template>
    <div id="purchaseOrder">
        <table class="table is-table-bordered is-table-striped is-fullwidth">
            <thead>
            <tr>
                <th class="has-text-center">Id</th>
                <th class="has-text-center">Name</th>
                <th class="has-text-center">Description</th>
                <th class="has-text-center">Start Date</th>
                <th class="has-text-center">End Date</th>
                <th class="has-text-center">Status</th>
                <th colspan="2" class="has-text-center" style="width:15%;">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-row-rentit" v-for="(order, order_index) in orders" :key="order_index">
                <td class="has-text-center" id="name"> {{order._id}}</td>
                <td class="has-text-center"> {{order.plant.name}}</td>
                <td class="has-text-center"> {{order.plant.description}}</td>
                <td class="has-text-center"> {{order.rentalPeriod.startDate}}</td>
                <td class="has-text-center"> {{order.rentalPeriod.endDate}}</td>
                <td class="has-text-center">
                    <span style="width:80%;" class="tag" :class="type(order.status)"> {{order.status}}</span>
                </td>
                <td>
                    <a v-for="link in order._links" :key="link.name"  v-if="link.name != null && link.name !== 'self' && link.name !== 'extend' && order.status !== 'RETURNED'"
                       :class="{'is-danger': link.name === 'reject',
                                'is-success': link.name === 'accept'}"
                       class="button is-small is-outlined is-link"
                       :id="link.name"
                       @click="followLink(link, order_index)">
                        {{link.name}}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import axios from 'axios';
    import Vue from 'vue';

    export default {
        name: 'PurchaseOrder',

        data: function() {
            return {
                orders: [],
                subtitle: 'Purchase orders'
            }
        },
        mounted: function() {
            this.pendingPurchaseOrder();
        },
        methods: {
            type(value) {
                if (value == 'CLOSED' || value == 'REJECTED') {
                    return 'is-danger';
                } else if (value == 'OPEN') {
                    return 'is-success';
                } else if (value == 'PENDING') {
                    return 'is-warning';
                }
            },
            pendingPurchaseOrder: function() {
                axios.get("/api/sales/orders")
                    .then(response => {
                        console.log(response);
                        if (response.data._embedded != null)
                            this.orders = response.data._embedded.purchaseOrderDToes;
                    });
            },
            followLink: function(link, order_index) {
                axios({
                    url: link.href,
                    method: link.type
                }).then(response => {
                    this.$snackbar.open("Success");
                    Vue.set(this.orders, order_index, response.data);
                }).catch(e => {
                    this.$snackbar.open({
                        type: 'is-danger',
                        message: String(e.response.status).concat(' ', e.response.data.message)
                    });
                });
            }
        }

    }
</script>

<style scoped>
    .button {
        margin-right: 5px !important;
        text-transform: capitalize;
    }
</style>