<template>
    <div class="invoices">
        <invoice subtitle = "Invoices"></invoice>
    </div>
</template>

<script>
    import Invoice from '@/components/invoices/Invoice.vue'

    export default {
        name: "invoices",
        components: {
            Invoice
        },
        mounted: function() {
            this.$emit('update', "Invoices")
        }
    }
</script>
