<template>
    <div class="purchaseOrders">
        <purchase-order subtitle="Purchase orders"></purchase-order>
    </div>
</template>

<script>
    import PurchaseOrder from '@/components/orders/PurchaseOrder.vue'

    export default {
        name: "purchaseOrders",
        components: {
            PurchaseOrder
        },
        mounted: function() {
            this.$emit('update', "Purchase orders")
        }
    }
</script>

<style scoped>

</style>